
html, body {
	margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    color:#3B3F48;
}
.block-body {
	min-height:675px;
	position:relative;
	text-align:center;
	padding:10%;
	border-top: 1px solid #ECEBEB; 
    box-shadow: 0px -1px 1px #F4F4F4;
    background-color:#FEFEFE;    	
}
#h2-skills {
	font-size:40pt;
}
.container {
	width:auto;
}
.head-block {
	background-color:#338BB7;
	padding:0;
	padding-top:80px;
}
.icon-img {
	display:block;
	width:225px;
  	margin:auto;
  	padding-bottom:10px;
}
.center {
	display:block;
	margin:auto;
	text-align: center;
}
.navbar {
	margin:0;
	padding:0;
	padding:13px;
	padding-top:25px;
	padding-right:35px;
	height:100px;
	border:none;
	background:none;
	-webkit-transition: all 0.5s;
  	transition: all 0.5s;
}
.navbar-inverse .navbar-brand {
	color:white;
	font-family:"Montserrat";
	font-size:34pt;
	letter-spacing:-0.8px; 
	transform:scale(1,1.25); 
	font-weight:700; 
	height:55px;
	padding:14px;
	padding-left:25px;
	width:auto;
	text-shadow: 1px 1px 1px #345667;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.lname {
	position:relative;
	color:black;
	width:auto;
	margin-left:-15px;
	z-index:1;
}
.fname {
	padding-bottom:8px;
	display: inline-block;
    height: 50px;
    width: 75px;
    border-radius: 7px;
    margin-top: -20px;
    padding-top: 15px;
    padding-left: 8px;
    margin-right:0;
	transition: all 0.3s;
	z-index:2;

}
.navbar-inverse .navbar-nav>li>a {
	color:white;	
}
.navlist{
	font-family:"Montserrat";
	font-weight:700;
	font-style:normal;
	text-transform: uppercase;
	font-size:15pt;
	color:white;
}
.navlist:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #4CBFA0;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navlist:hover:before, .navlist:focus:before, .navlist:active:before {
  left: 0;
  right: 0;
}

.header {
	color:white;
	font-weight:700;
}

h2 {
	font-family:"Montserrat";
	font-size:24pt;
	margin-top:10px;
	margin-bottom:20px;
}
a:hover, a:focus {
	text-decoration:none;
}
.cta-block {
	display: block;
    margin: 0 auto;
    width: 250px;
    height: 70px;
}
.cta-button {
	position:relative;
	cursor:pointer;
	display:block;
	margin:auto;
	border-radius:10px;
	border: solid white 4px;
	width:250px;
	height:70px;
	color:white;
	font-family:"Montserrat";
	font-weight:400;
	letter-spacing:1px;
	line-height:2.2;
	font-size:22pt;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footer {
	box-sizing:content-box;
	height:100%;
	background-color:#272A2F;
	border-top: 1px solid #343434; 
    box-shadow: 0px -1px 1px #242424;
    position:relative;
    color:#E0DFDF;
    text-align:center;
    padding-top:20px;
    font-family: "Open Sans";
}
.footer i {
	color:white;
	font-size:24pt;
	border-radius:50%;
	width:55px;
	padding:8px;
	padding-top:12px;
	height:55px;
	background-color:#BF4C2F;
	margin: 0px 5px;
	transition-timing-function:ease-in;
	transition:all 0.3s;
}
.footer i:hover {
	color:white;
	background-color:#EA6A4A;
	    width: 60px;
    height: 60px;
    line-height: 1.2;
}
h1 {
	font-family:"Montserrat";
	font-size:48pt;
  	text-align: center;
}
#top > div> h1 {
  	font-size: 70px;
}

.about-icon {
	font-size:100pt;
	line-height:190px;
	background-color:#E46849;
	width:200px;
	height:200px;
	border-radius:300px;
	color:white;
	margin-top:-10px;
}
.about-block {
	font-family: "Montserrat";
	font-size:15pt;
	padding-top:20px; 
	width:90%;
 	margin:auto
}	
#block-skills > div > div > h2 {
	min-height:80px;
}
.portfolio-list {
	padding:0;
	margin:auto;
}
.portfolio-category {
	background:blue;
	color:white;
	position:absolute;
	top:0;
	left:0;

}
.portfolio-block {
	position:relative;
	background-color:gray;
	float:left;
	width:31%;
	height:200px;
	margin:1%;
	transition-timing-function: ease-in;
	transition: all 0.5s;
	overflow:hidden;
	cursor:pointer;
}
.portfolio-block span img {
	background-size:cover;
	display:inline;
}

.portfolio-block:hover .sidebar {
	visibility:visible;
	transform: translateX(50%);
}
.portfolio-block:hover .portfolio-picture {
	overflow:hidden;
	transform: translateX(-50%);
}
.portfolio-block .sidebar {
	position:relative;
	display:inline-block;
	transform:translateX(150%);
	width:50%;
	height:100%;
	-webkit-transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 400ms;
 	transition:         transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 400ms;
}
.portfolio-block .sidebar:hover {
	background-color:#2AA987;
}
.portfolio-block .sidebar p {
	font: 14pt "Montserrat";
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin:0 auto; 
	width:100%;
}
.portfolio-block .portfolio-picture {
	display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  	transition:         all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.modal, .modal-body, .modal-content, .modal-dialog {
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	border:none;
}
.modal1 {
	padding-right:0;
}
.contact-block {
	clear:left;
	min-height:450px;
	padding:65px;
}
body > nav > div.navbar-header > a {
	transition : width 0.4s;
}

.skill-icon {
	font-size:120pt;
}
.send-icon {
	padding-left:10px;
	transition: transform 0.3s;
	transition-timing-function: ease-out;
}
#contact > div > form > .cta-button:hover .send-icon {
	transform: scale(1.5);
}

.form-style-8 input,
.form-style-8 textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color:white;
    overflow:hidden;
}

.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
fieldset {
	margin:0;
	padding:0;
	border:0;
}

::-webkit-input-placeholder {
   color: white;
   font-family: "Open Sans";
}

/* Colors: */
.cta-button:hover.orange-inverse, .orange {
	background-color:#E46849;
	color:white;
}
.cta-button:hover.orange, .orange-inverse {
	color:#E46849;
	background-color:white;
}
.cta-button:hover.blue-inverse, .blue {
	border-color:white;
	background-color:#338BB7;
	color:white;
}
.cta-button:hover.blue, .blue-inverse {
	color:#338BB7;
	background-color:white;
}
.dark-gray {
	color:white;
}
.light-gray {
	background-color:#F4F4F4;
	color:#2C2F35;
}
.green {
	border-color:#4CBFA0;
	background-color:#4CBFA0;
	color:white;
}

.cta-button:hover.green, .green-inverse {
	background-color:white;
	color:#44AB8F;
}
.portfolio-pic1 {
	background-image: url("../img/roguelike1thumb.gif");
}


/* Animations */
.animate1 {
	-webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
	opacity:0;
	transform: translateY(100%);
}